{% extends "layout/default.html.twig" %}
{% block content %}
    <div class="container" >
        <div style="width: 40%">
            <form>
                <div class="form-group">
                    <label>First name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="First name">
                </div>
                <div class="form-group">
                    <label>Last name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Last name">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Phone">
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>

    </div>
{% endblock %}